<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="ModuleContext"
      type="biz.dfch.PS.Abiquo.Client.ModuleContextSection, biz.dfch.PS.Abiquo.Client"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>
  <ModuleContext uri="http://abiquo.example.com/api" username="" password="P@ssw0rd" authenticationType="plain" />
</configuration>
